h1{
	font-family: 'Arvo', serif;
}
h2{
	font-family: 'Arvo', serif;
}
h3{
	font-family: 'Arvo', serif;
}
h4{
	font-family: 'Arvo', serif;
}
h5{
	font-family: 'Arvo', serif;
}
h6{
	font-family: 'Arvo', serif;
}
p{
	font-family: 'Arvo', serif;
}
#navi img{
	 margin-top: 10px;
}
.media_landing img{
	width: 500px;
	height: 500px;
}