#tenant_details #image{
	width: 400px;
	height: 400px;
	border-radius: 5%;
}
#navi img{
	margin-top: 10px;
}
#drop{
	margin-top: 5px;
}
a{
	text-decoration: none;
}
.contact img{
	width: 200px;
	height: 200px;
}
h1{
	font-family: 'Arvo', serif;
}
h2{
	font-family: 'Arvo', serif;
}
h3{
	font-family: 'Arvo', serif;
}
h4{
	font-family: 'Arvo', serif;
}
h5{
	font-family: 'Arvo', serif;
}
h6{
	font-family: 'Arvo', serif;
}
p{
	font-family: 'Arvo', serif;
}
@media screen and (max-width:640px){
.tenant_landing img{
	width: 100%;
}
#tenant_details #image{
	margin-top: 50px;
	width: 100%;
}
#tenant_details #second_image{
	margin-top: 100px;
	width: 120%;
}
}